:root{
	--background: #c3c0ba;
	--white: #fff;
	--one: black;
	--two: black;
	--black: black;
	--process: #a5a5a5;
}

*{margin:0px; padding:0px; box-sizing: border-box; font-family: system-ui;}
.body{background: var(--background);}
.col-div-3{width: 45%; float: left;}
.col-div-7{width: 75%; float: left;}
.col-div-4{width: 35%; float: left;}
.col-div-8{width: 65%; float: left;}
.col-div-6{width: 50%; float: left; position: relative;}
.clearfix{clear: both;}
.resume-main{width: 900px; height: 1340px; 
	background: linear-gradient(var(--one), var(--two));
	margin: 50px auto;
	box-shadow:5px 5px 5px 5px #54585d33;
}
.left-box{width: 35%; float: left; height: 800px;}
.right-box{width: 65%; float: left; background-color: var(--white); height: 1340px;
	margin: 0px 0px;  padding:30px 50px;
	box-shadow: -7px 2px 15px 2px #54585d52;}
.profile{width: 150px; height: 150px; border: 3px solid var(--white); 
	padding: 7px; border-radius: 50%; margin: 20px auto;}
.profile img{width: 100%; border-radius: 50%;}
.content-box{    padding: 0px 40px 0px 45px;}
.content-box h2{text-transform: uppercase;font-weight: 500;color: var(--white); 
	letter-spacing: 1px; font-size: 20px;}
.hr1{border: none; height: 1px; background: var(--white); margin-top: 3px;}
.p1{font-size: 11px;color: var(--white);letter-spacing: 1px;padding-top: 12px;}
#progress {background: var(--process);border-radius: 13px;height: 8px;width: 100%;}
#progress:after {
    content: '';
    display: block;
    background: var(--white);
    width: 85%;
    height: 100%;
    border-radius: 9px;
}
#progress1 {background: var(--process);border-radius: 13px;height: 8px;width: 100%;}
#progress1:after {
    content: '';
    display: block;
    background: var(--white);
    width: 90%;
    height: 100%;
    border-radius: 9px;
}
.content-box h3{font-size: 13px;text-transform: uppercase;letter-spacing: 1px;padding-top: 10px;
    color: white;font-weight: 500;
}
.p2{font-size: 13px; margin-bottom: 5px; margin-top: 5px; color: var(--white);}
.circle{color:var(--white); font-size: 14px!important; margin-top: 7px;}
.circle1{color:var(--process); font-size: 14px!important; margin-top: 7px;}
.in{background:var(--white);color: var(--one);padding: 8px;border-radius: 20px; font-size: 14px!important;}
.inp{color: var(--white); font-size: 11px;}
.col3{text-align: center;}
h1{font-size: 50px; text-transform: uppercase; color: var(--black); line-height: 50px;}
h1 span{color: var(--one);}
.p3{letter-spacing: 4px;color: #54585d; font-weight: 500;}
.heading{text-transform: uppercase;font-weight: 500;color: var(--one); 
	letter-spacing: 1px; font-size: 20px;text-decoration: solid;}
.hr2{border: none; height: 1px; background: var(--black); margin-top: 3px;}
.p5{font-weight: 700;color: var(--black);font-size: 14px;}
.span1{font-size: 12px;color: var(--black);}
Button{
    padding: 5px 10px;
    margin: 10px;
    background-color: lightblue;
    color: rgb(31, 15, 15);
    border: none;
    border-radius: 5px;
    cursor: pointer;
	font-size: 14px;
	text-decoration: none;
	
}
Button:hover{
    background-color: bisque;
	text-decoration: none;
}
.Dev{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.animated-text{
    font-size: 16px;
    font-weight: 600;
    min-width: 60px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Youtuber";
    color: #ff7f50;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: black;
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "Web Developer";
    }
    21%,40%{
        content: "Graphic Designer";
    }
    41%,60%{
        content: "ProCod Founder";
    }
    61%,80%{
        content: "Wix Developer";
    }
    
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}